.invoice-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-section {
  border: 1px solid black;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}

.information {
  text-align: left;
}

.information-text {
  font-size: 0.85rem;
  color: #555;
  margin: 0;
}

.seal {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: end;
}

.seal-text {
  align-self: end;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.signature {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signature p {
  margin: 5px 0;
}

.container1{
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%; 
  width: 100%;
  height: 150px;
  
}

.first-main-column {
  display: grid;
  grid-template-columns: 60% 40%; 
  border: 1px solid #000000;
}

.inner-column {
  border: 1px solid #000;
}

.second-main-column {
  border: 1px solid #000000; 
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0px;
  border-left: 0px;
}

.second-inner {
  height: 99%;
  justify-items: center;
  display: grid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  
}

.first-inner {
  padding: 10px;
  border-top: 0px;
  border-bottom: 0px;
  border-left:0px;
}